:root{
    --text-color: #ffffff;
    --card-front-color: #b15959;
    --card-back-color: hsl(310, 45%, 67%);
}
.body{
    font-family: Bai Jamjuree;
}
.cartao__conteudo{
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
#container{
    display: flex;
    flex-wrap: wrap;
}
.cartao {
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}
.cartao__conteudo p{
    padding: 3rem;
    margin-top: 3rem;
}
.cartao__conteudo h3{
    background-color: rgb(219, 37, 159);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
footer {
    background-color: #000000;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}